*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}


/* =============hero_section========== */
/* .hero_section{
    background: #ff7800;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: "Roboto Condensed", sans-serif;
}
.hero_section .line1,.hero_section .line2{
    display: -webkit-box;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.3);
}
.hero_section .slides .line1>div,.line2>div{
    padding-right: 10px;
}
.hero_section .slides>div:nth-child(odd){
    animation: moveRight 100s infinite linear;
    left: -200%;
    animation-delay: 1.4s;
}
@keyframes moveRight {
  0% {
    transform: translateX(-200%); 
  }
  100% {
    transform: translateX(0%); 
  }
}
.hero_section .slides>div:nth-child(even){
    animation: moveLeft 100s infinite linear;
    animation-delay: 1.4s;
}
@keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300%); 
    }
  }
.round1,.round2,.round3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    background-color: #f65600;
    border-radius: 50%;
}
.round2{
    width: 450px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.5);
}
.round3{
    width: 400px;
    height: 400px;
    background-color: #ff9232;
}
.main_img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
}
.main_img1,.main_img2{
    position: absolute;
    bottom: 5%;
    height: 200px;
}
.main_img1{    
    left: 10%;
}
.main_img2{    
    right: 10%;
}
.main_img1 img,
.main_img2 img{
    height: 100%;
    position: relative;
    z-index: 1;
}
.main_img1 .img_box,
.main_img2 .img_box{
    position: relative;
    height: 100%;
}
.main_img1 .img_box:after,
.main_img2 .img_box:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: white;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%) scale(1.2); 
    border-radius: 50%;
    animation: scaleUp 2s infinite alternate linear;
}
@keyframes scaleUp {
    0% {
        transform: translate(-50%, -65%) scale(1.3); 
    }
    100% {
        transform: translate(-50%, -65%) scale(1); 
    }
} */
 .hero_section{
    background: #ff7800;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
 }
 #carouselExampleSlidesOnly{
    position: absolute;
    width: 100%;
    height: 100%;
 }
 #carouselExampleSlidesOnly img{
    height: 100%;
 }
 .whatsapp_icon{
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
 }
 .whatsapp_icon a{
    text-decoration: none;
 }
 .whatsapp_icon a img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
 }
 .navbar{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
 }
 .navbar .logo{
    gap: 5px;
 }
 .navbar .logo img{
    width: 100px;
 }
 .navbar .logo h5{
    margin: 0;
    color: white;
 }
 .navbar p{
    margin: 0;
    color: white;
 }
 .navbar p:first-child{
    margin-right: 15px;
 }
 .navbar i{
    color: #ff7800;
 }
 .hero_section .left_box{
    position: relative;
 }
 .hero_section .statue_img{
    height: 400px;
    position: relative;
    z-index: 2;
 }
 .hero_section .circle_1,.circle_2,.circle_3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 330px;
    height: 330px;
    background-color: #f65600;
    border-radius: 50%;
 }
 .circle_2{
    width: 290px;
    height: 290px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: scaleUp 2s infinite alternate ease-in-out;
}
@keyframes scaleUp {
    0% {
        transform: translate(-50%,-50%) scale(1.05);
    }
    100% {
        transform: translate(-50%,-50%) scale(1); 
    }
}
.circle_3{
    width: 270px;
    height: 270px;
    background-color: #ff9232;
}

.hero_section .right_box{
    display: flex;
    justify-content: center;
}
.hero_section .right_box .content{
    border-left: 8px solid white;
    border-right: 8px solid white;
    padding: 40px 25px;
    position: relative;
    color: white;
}
.hero_section .right_box .content:before,
.hero_section .right_box .content:after{
    position: absolute;
    content: "";
    height: 8px;
    width: 50%;
    background-color: white;
    animation: rise 3s infinite alternate ease-in-out;
}
@keyframes rise {
    0% {
        width: 60%;
    }
    100% {
        width: 50%; 
    }
}
.hero_section .right_box .content:before{
    left: 0;
    top: 0;
}
.hero_section .right_box .content:after{
    right: 0;
    bottom: 0;
}
.hero_section .right_box .content h2{
    text-shadow: 2px 2px 5px black;
}
.hero_section .right_box .content h5{
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px black;
}
.hero_section .right_box .content button{
    background: #ff7800;
    border: 2px solid white;
    padding: 6px 15px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
.card_box{
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
}
.hero_section .card{
    background: none;
    border: none;
    border-right: 2px solid #f65600;
    border-radius: 0;
    text-align: right;
    padding: 20px;
    color: white;
}
.hero_section .card p{
    margin: 0;
}
/* =======================About===================== */
.about_section{    
    background:rgb(0, 0, 107);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.about_section .flower_1{
    position: absolute;
    width: 200px;
    left: -30px;
    bottom: -30px;
}
.about_section .flower_2{
    position: absolute;
    width: 150px;
    left: -30px;
    bottom: 117px;
}
.about_section .flower_3{
    position: absolute;
    width: 170px;
    left: 120px;
    bottom: -60px;
}
.about_section .flower_4{
    position: absolute;
    width: 200px;
    right: -30px;
    top: -30px;
}
.about_section .flower_5{
    position: absolute;
    width: 150px;
    right: -30px;
    top: 117px;
}
.about_section .flower_6{
    position: absolute;
    width: 170px;
    right: 120px;
    top: -60px;
}
.about_section .flower_1,
.about_section .flower_4{
    animation: scaleUp2 2s infinite alternate linear;
}
@keyframes scaleUp2 {
    0% {
        transform: scale(1.1); /* Start with scale 1.2 */
    }
    100% {
        transform: scale(1); /* Scale down to 1 */
    }
}
.flex_box{
    display: flex;
    align-items: center;
}
.about_section .left_box .img_box{
    position: relative;
    border-left: 1px solid white;
    display: flex;
        align-items: center;
}
.about_section .left_box .img_box p{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        margin: 0;
        left: -15px;
        line-height: 16px;
        font-size: 14px;
}
.about_section .left_box .img_box img{
    height: 500px;
}
.about_section .left_box .img_box:before,
.about_section .left_box .img_box:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 9px;
    background: white;
}
.about_section .left_box .img_box:before{
    top: 0;
    left: -5px;
}
.about_section .left_box .img_box:after{
    bottom: 0;
    left: -5px;
}
.about_section .right_box{
    position: relative;
}
.about_section .content{
    text-align: center;
    color: white;
}
.about_section .content img{
    width: 120px;
    margin-bottom: 20px;
}
.about_section .content h5{
    font-weight: 700;
    margin-bottom: 25px;
}
.about_section .content h3{
    font-weight: 600;
    color: #ff7800;
    border: 3px solid #ff7800;
    font-size:25px;
    padding: 7px 12px;
    display: inline;
    border-radius: 10px;
    margin-bottom: 40px;
}
.about_section .content h4{
    font-size: 18px;
    margin: 25px 0 15px;
}
.about_section .content h4 span{
    font-weight: 600;
    display: block;
}
.about_section .content button{
    border-radius: 60%;
    padding: 7px 20px;
    font-weight: 600;
    color: #ff7800;
    border: 4px solid #ff7800;
    background: none;
    font-size: 25px;
    position: relative;
    overflow: hidden;
}
.about_section .content button:after{
    position: absolute;
    content: "";
    width: 10px;
    height: 600%;
    top: -200%;
    background: #ff7800;
    box-shadow: 2px 2px 20px #ffb574;
    transform: rotate(-45deg);
    animation: slidefast 3s infinite linear;
}
@keyframes slidefast {
    0% {
        transform: rotate(-45deg) translateX(-5000%); /* Start with scale 1.2 */
    }
    100% {
        transform: rotate(-45deg) translateX(1000%); /* Scale down to 1 */
    }
}
.about_section .content p{
    font-weight: 500;
    font-size: 13px;
    margin-top: 15px;
}